h1{/*h1 are block elements by default*/
    background-color: aqua;
    border: 1px solid black;
    width: 300px;
    /*display: inline; -- with this we can make by default blocked elements inline*/
}
span{/* by default spans are inline elements */
    background-color: blueviolet;
    border: 1px solid black;
    color: aliceblue;
    width: 500px;
    padding: 10px;
    margin: 100px;
    /*display: block; --- we make inline elements blocked */
    /* width and height are blocked when it comes to inline elements, along with some other attributes.
    in order to get passed that i can do "display: inline-block" */
}
section {
    background-color: aqua;
    width: 800px;
    height: 800px;
    border: 5px solid black;
    margin: 500px 0 500px 0;
}
h2 {
    font-size: 40px;
    border: 5px solid black;
    line-height: 100%;
}
#art {
    font-size: 50px;
}
button { /*with em i can keep any all child elements relative to the parent
            so if i grow the font-size of article, all elements within the article
            will relatively grow in size keeping the layout i had before*/
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: black;
    color: aliceblue;
    border: 0.125em solid gray;
}
ul {  /*the problem with ems is that chlids inferent the size of the parent.
        so in this case is not useful because i have multiple nested ul so 
        every ul inherents its parent ul size */
    font-size: 1.5em;
} /*So rems are really helpful cause the element size is relative to the root html elements size*/
div{
    margin:100px;
}
#rems {
    font-size: 5rem;
}